@(count: Integer,platforms: List[PlatformExecution])

@import helper._

@main(title = "The 'helloworld' application",menuId="historyBtn") {
    
    <h1>Run history:</h1>
        <br/>
        <table class="table">
            <tr><th>Name</th><th>Start time</th><th>Status</th></tr>
            @platforms.map { plat =>
                <tr>
                    <td>@plat.runName</td>
                    <td>@plat.startTime.format("HH:mm dd/MM/yyyy")</td>
                    <td>@plat.status</td>
                    <td >
                        <a href="@routes.RunHistory.executionLog(plat.id)">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </table>
}